{% extends "layout.html" %}
{% block content %}
<div class="container w-75 mt-5 pt-5 pb-3 shadow rounded">
    <h1 class="fs-4 p-2">Liste des catégories disponibles</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
            <tr>
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.description }}</td>
                <td>
                    <a href="{% url 'modifCategorie' categorie.id %}" class="btn btn-warning btn-sm">Modifier</a>
                    <a href="{% url 'supprCategorie' categorie.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'accueil' %}" class="btn btn-secondary">Retour à l'accueil</a>
</div>
{% endblock %}